@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

* {
  font-family: 'Slackey', sans-serif;
  font-weight: 600;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/imagenes/fondoLogin.jpg'); 
  background-size: cover; 
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
}
