@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,


body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/imagenes/fondoLogin.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Esto asegura que la imagen cubra toda la pantalla sin deformarse */
  background-position: center; /* Centra la imagen para que no se recorte en áreas no deseadas */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
}
